<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
	</head>
	<body>
		{% extends 'viacep/base.html' %} {% block content %}
		<h2>Detalhes do Endereço</h2>

		<p><strong>CEP:</strong> {{ endereco.cep }}</p>
		<p><strong>Rua:</strong> {{ endereco.rua }}</p>
		<p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
		<p><strong>Cidade:</strong> {{ endereco.cidade }}</p>
		<p><strong>Estado:</strong> {{ endereco.estado }}</p>

		<a href="{% url 'cep_update' endereco.pk %}">Editar</a> |
		<a href="{% url 'cep_delete' endereco.pk %}">Excluir</a> |
		<a href="{% url 'cep_list' %}">Voltar para lista</a>

		{% endblock %}
	</body>
</html>
